body {
    background-image: url(num.jpg);
    background-size:100%;
}

input {
  margin-left: 40%;
}

input[type="submit"] {
  width: 35%;
  background-color: red;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="radio"]:hover {
  cursor: pointer;
}

div {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  width: 270px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  background-color: #42d21d;
}
