* {
  margin: 0;
  padding: 0;
}

input[type="submit"] {
  width: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
}

#delete {
  width: 140px;
}

#result {
  width: 215px;
  height: 40px;
}

#button2 {
  margin-left: 140px;
  margin-bottom: 10px;
  width: 130px;
}

#button1 {
  margin-left: 157px;
  margin-bottom: 10px;
  width: 105px;
}

#operation_start {
  width: 105px;
}

#calc {
  margin-top: 10px;
  margin-left: 5px;
}

#center.col-sm {
  margin-top: 20px;
  text-align: center;
}
